<div *ngIf="( postDto$ | async) as post" class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <div style="display: flex; flex-direction: row">

                <img src="/api/users/profile-image/{{post.author.profileImage}}" class="profile-image">
                <a routerLink="../../users/{{post.author.id}}">Author profile</a>

            </div>


        </mat-card-header>
        <hr>
        <mat-card-content style="display: flex; flex-direction: row">
            <div>
                <img src="/api/posts/image/{{post.imageUrl}}" class="content-image">
            </div>
            <div style="margin-left: 20px; margin-top: 10px">
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle>{{post.subTitle}}</mat-card-subtitle>
            </div>
            <mat-divider></mat-divider>


        </mat-card-content>
        <div>
            <p>{{post.content}}</p>
        </div>
        <mat-card-actions>
            <button mat-button>
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-button (click)="editPost(post.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="deletePost(post); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>


